<div class="container-fluid">
	<nav class="navbar navbar-fixed-top" id="main">
      <div class="container">
        <ul class="nav navbar-left">
          <li><span id="side" (click)="openNav()" >&#9776; Home</span></li>
        </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-right">
            <li id="log" (click)="logout()"> Logout<span class="glyphicon">&#xe163;</span></li>
          </ul>
        </div>
       </div>
    </nav>
    <div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#" (click)="closeNav()" >Dashboard</a>
  <a (click)="closeNav()" routerLink = "navone">Navigations</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
</div>
<div class="row" id="content" style="height:700px;">
  	<div class="col-sm-12 nav-pills-content">
  		<router-outlet></router-outlet>
  	</div>
  </div>