 <!--  <div class="container">
  <form #formCtrl="ngForm">
    <div class="input">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 input-field1">
        <label for="username">Name : </label>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
        <input type="text" id="username" name="username" [(ngModel)]="data.username" #username="ngModel" required> 
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 input-field1">
        <label for="pwd">Password  : </label>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <input type="password" id="pwd" name="password" [(ngModel)]="data.password" #password="ngModel" required>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 input-field1">
        <label for="email">Email : </label>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
        <input type="email" id="email" name="email" [(ngModel)]="data.email" #email="ngModel" required> 
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 input-field1">
        <label for="mob">mob.no : </label>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
        <input type="text" id="phonenumber" name="phonenumber" [(ngModel)]="data.phonenumber" #phonenumber="ngModel" required> 
      </div>
    </div>
    <div class="row">
      <button [disabled]="!formCtrl.form.valid" id="Save" class="btn btn-primary" (click)="register()" >Save</button>
      <button id="Cancel" class="btn btn-primary" (click)="cancel()" >cancel</button>
    </div>
    </form>
    </div> -->


<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <!-- <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> -->

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="data.username" #username="ngModel" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="data.password" #password="ngModel" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="data.email" #email="ngModel" required>
        </div>
        <div class="form-group">
            <label>PhoneNumber</label>
            <input type="text" class="form-control" name="phonenumber" [(ngModel)]="data.phonenumber" #phonenumber="ngModel" required>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>