.container{
  width:950px;
  margin : auto ;
  position: fixed;
}
.heading {
  position: fixed;
  margin-top: 6%;
  margin-left: 40%;
}
.user, .pass{
  position: fixed;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
}
.user input {
  border-radius: 5px 5px 5px 5px;
  height: 40px;
  border-style: inset;
  position: fixed;
  margin-top: 15%;
  margin-left: -10%;
}
.user label {
  position: fixed;
  margin-top: 15%;
  margin-left: 30%;
}
.pass input {
  border-radius: 5px 5px 5px 5px;
  height: 40px;
  border-style: inset;
  position: fixed;
  margin-top: 20%;
  margin-left: -10%;
}
.pass label {
  position: fixed;
  margin-top: 20%;
  margin-left: 30%;
}
#login {
  position: fixed;
  margin-top: 26%;
  margin-left: 44%;
  width: 8%;
}
#register {
  position: fixed;
  margin-top: 30%;
  margin-left: 40%;
  font-size: larger;
}
