.container{
  width:950px;
  margin : auto ;
}
.heading{
    margin-left: 283px;
    margin-top: 100px;
}
.input{
  margin-left: 300px;
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 20px;

}
input{
  border-radius: 5px 5px 5px 5px;
  height:40px;
  border-style: inset;
}
.input-field1{
  margin-top: 10px;
  float: initial;
}
#login{
   margin-top: 30px;
    margin-left: 415px;
    width: 100px;
}
#register{
  margin-top: 30px;
  margin-left: 415px;
  font-size: larger;
}
