<div class="container">
  <form #formCtrl="ngForm" #myForm>
    <div class='heading'>
      <h2>Login Form</h2>
    </div>
    <div class="input">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 input-field1">
        <label for="username">AD Id : </label>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
        <input type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required > 
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 input-field1">
        <label for="pwd">Password  : </label>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required >
      </div>
    </div>
    <div class="row">
      <button [disabled]="!formCtrl.form.valid" id="login" class="btn btn-primary" (click)="login()" >Login</button>
      <p id="register">New User? Click here to <a (click)="register()" > Register</a></p>
    </div>
  </form>
</div>