<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<div class="container">
  <div class="input">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 labels">
        <label for="username">AD Id : </label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inputfield">
        <input type="text" id="username" > 
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 labels">
        <label for="pwd">Password  : </label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inputfield">
        <input type="password" id="pwd" >
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 labels">
        <label for="ip">IP Address  : </label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inputfield">
        <input type="number" id="ip" >
      </div>
    </div>
  </div>
</div>
</body>
</html>
